input, select{
    width: 150px;
    height: 30px;
}
button{
    width: 470px;
    height: 30px;
    padding-bottom: 10px;
}
div{
    align-items: center;
    text-align: center;
    margin-top: 10%;
    padding-top: 10px;
}
body{
    align-items: center;
    text-align: center;
    font-size:x-large;
}
